.red{
	background-color: red;
	height:200px;
	width:200px;
	position: absolute;
	left:400px;
}
.blue{
	height: 200px;
	width:200px;
	position: absolute;
	left:200px;
	background-color: blue;
}
.yellow{
	height:200px;
	width:200px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: yellow;
}
body{
		margin:0;
}
