.red{
	height:200px;
	width:200px;
	position: absolute;
	right:400px;
	bottom:400px;
}
.blue{
	height: 200px;
	width:200px;
	position: absolute;
	right:200px;
	bottom:200px;
}
.yellow{
	height:200px;
	width:200px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
