body{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
h1{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Permanent Marker', cursive;
}
.top-container{
	background-color: #E4F9F5;
	position: relative;
	padding-top: 100px;
}
.middle-container{
}
.bottom-container{
}
.top-cloud{
	position: absolute;
	right: 300px;
	top: 50px;
}
.bottom-cloud{
	position: absolute;
	bottom: 300px;
	left: 300px;
}
#stud{
	text-decoration: underline;
}
